{ns hl7-fhir-uv-genomics-reporting,
 import #{zen.fhir hl7-fhir-r4-core},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-file" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-file/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-artifact" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-artifact/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-risk-assessment" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-risk-assessment/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/annotation-code" #zen/quote hl7-fhir-uv-genomics-reporting.annotation-code/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/therapy-assessed" #zen/quote hl7-fhir-uv-genomics-reporting.therapy-assessed/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomic-report-note" #zen/quote hl7-fhir-uv-genomics-reporting.genomic-report-note/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/recommended-action" #zen/quote hl7-fhir-uv-genomics-reporting.recommended-action/schema,
                       "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/medication-assessed" #zen/quote hl7-fhir-uv-genomics-reporting.medication-assessed/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"Task" {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/followup-recommendation" #zen/quote hl7-fhir-uv-genomics-reporting.followup-recommendation/schema,
                             "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/medication-recommendation" #zen/quote hl7-fhir-uv-genomics-reporting.medication-recommendation/schema},
                     "Observation" {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/msi" #zen/quote hl7-fhir-uv-genomics-reporting.msi/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/haplotype" #zen/quote hl7-fhir-uv-genomics-reporting.haplotype/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/variant" #zen/quote hl7-fhir-uv-genomics-reporting.variant/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/implication" #zen/quote hl7-fhir-uv-genomics-reporting.implication/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/therapeutic-implication" #zen/quote hl7-fhir-uv-genomics-reporting.therapeutic-implication/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/overall-interpretation" #zen/quote hl7-fhir-uv-genomics-reporting.overall-interpretation/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-base" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-base/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/region-studied" #zen/quote hl7-fhir-uv-genomics-reporting.region-studied/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/sequence-phase-relationship" #zen/quote hl7-fhir-uv-genomics-reporting.sequence-phase-relationship/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genotype" #zen/quote hl7-fhir-uv-genomics-reporting.genotype/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/tmb" #zen/quote hl7-fhir-uv-genomics-reporting.tmb/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/diagnostic-implication" #zen/quote hl7-fhir-uv-genomics-reporting.diagnostic-implication/schema,
                                    "http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/finding" #zen/quote hl7-fhir-uv-genomics-reporting.finding/schema},
                     "DocumentReference" {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-document-reference" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-document-reference/schema},
                     "DiagnosticReport" {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-report" #zen/quote hl7-fhir-uv-genomics-reporting.genomics-report/schema}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/coded-annotation" #zen/quote hl7-fhir-uv-genomics-reporting.coded-annotation/schema}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://hl7.org/fhir/uv/genomics-reporting/ValueSet/genetic-therapeutic-implications-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.genetic-therapeutic-implications-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/evidence-level-example-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.evidence-level-example-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/high-low-codes-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.high-low-codes-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/coded-annotation-types-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.coded-annotation-types-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/hgvs-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.hgvs-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/variant-confidence-status-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.variant-confidence-status-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/sequence-phase-relationship-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.sequence-phase-relationship-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/molecular-consequence-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.molecular-consequence-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/functional-effect-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.functional-effect-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/hgnc-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.hgnc-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/variant-inheritance-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.variant-inheritance-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/condition-inheritance-mode-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.condition-inheritance-mode-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/tbd-codes-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.tbd-codes-vs/value-set,
                          "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/dna-change-type-vs" #zen/quote hl7-fhir-uv-genomics-reporting.value-set.dna-change-type-vs/value-set}}}
