{ns hl7-fhir-uv-genomics-reporting.value-set.condition-inheritance-mode-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Value Set for specific transmission patterns of a condition in a pedigree",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://hpo.jax.org/app/",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://purl.obolibrary.org/obo/sepio-clingen",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://www.ebi.ac.uk/ols/ontologies/geno",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/condition-inheritance-mode-vs",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-uv-genomics-reporting",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
