{ns hl7-fhir-uv-genomics-reporting.value-set.dna-change-type-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "DNA Change Type of a variant.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://sequenceontology.org",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/dna-change-type-vs",
            :version "2.0.0"}}
