{ns hl7-fhir-uv-genomics-reporting.value-set.molecular-consequence-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The calculated or observed effect of a variant on its downstream transcript and, if applicable, ensuing protein sequence.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://sequenceontology.org",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/molecular-consequence-vs",
            :version "2.0.0"}}
