{ns hl7-fhir-uv-genomics-reporting.value-set.variant-inheritance-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "By which parent the variant was inherited in the patient, if known.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/genomics-reporting/ValueSet/variant-inheritance-vs",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-uv-genomics-reporting",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
